<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IHParallaxNavigationController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C3BC4CA1AD39AC9007B7227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C3BC4E31AD39AC9007B7227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C4AF9BC1ADB85C700B29EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C4AF9D41ADB85C800B29EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
